.layout-post{
    width: calc(100% -20px);
    margin: auto;
    background-color: white;
}

.form-post{
    display: flex;
    justify-content: center;
}

.post-search-content{
    text-align: center;
    margin-top: 20px;
}

.layout-post-content{
    width: 95%;
    padding: 25px 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
    background-color: white;
    border-radius: 16px;
    margin: 20px auto;
}

.layout-post-content img{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
}

.layout-post-content-title{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.layout-post-content-author{
    margin-top: 5px;
    font-style: italic;
}

.layout-post-content-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   
    
}

.btn-watch-more{
    width: 60%;
    margin: auto;
}